*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    background: #FF4081;
}

header a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    align-items: center;
    font-style: italic;
}

img{
    width: 200px;
    height: 79px;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(rgba(0,0,0,0.75 ),rgba(0,0,0,0.75 )), url(../img/bannerhack.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 50px;
    text-align: center;
    
}

.resposta{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.resposta__itens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;

}

.resposta__itens #resposta{
    padding: 1rem 1rem;
    margin-right: 1rem;
    width: 300px;
}

.resposta__itens #botao{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: #1cee09;
    font-size: 20px;
}

#botao:hover{
    cursor: pointer;
    background: #7d7a7b;
}

#botao:active{
    background: #481325;
}

#botao a{
    text-decoration: none;
    color: #000000;
}

.imagens{
    padding: 1rem 0;
}

.resposta img{
    width: 280px;
    height: 200px;
}

.resposta h1{
    color: #00de55 ;
}



.resposta h2{
    padding: 1.5rem 0;
    font-size: 16px;
    text-align: center;
    color: #fafcfa;
    font-style: italic;

}

.resposta p{
    font-size: 16px;
    text-align: center;
    padding: 2rem 0;
    color: #ffffff ;
}

.imagens{
    display: flex;
}

.imagens img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
